:host {
  width: max-content;
}

.zoom-selector {
  position: relative;

  display: flex;
  align-items: center;

  border-radius: 5px;
  box-shadow: 1px 2.5px 3px -1.5px rgba(200, 207, 233, 1);

  &__label {
    color: var(--base-text-gray-color);
    background-color: rgba(241, 243, 248, 0.75);
    padding: 0.5rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
  }
}

:host ::ng-deep .zoom-selector__select.ng-select {
  position: unset;

  .ng-select-container {
    background-image: url('/assets/icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 9px 6px;
    cursor: pointer;

    box-shadow: none;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.5rem 2.25rem 0.5rem 0.5rem;
  }
}

:host ::ng-deep .zoom-selector__select.ng-select.ng-select-opened {
  .ng-select-container {
    background-image: url('/assets/icons/chevron-down-blue.svg');
  }
}

:host ::ng-deep .zoom-selector__select .ng-arrow-wrapper {
  display: none;
}

