.work-order {
  position: absolute;
  top: 5px;
  bottom: 5px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.25rem;

  padding: 0.625rem 0.5rem;
  border-radius: 8px;

  &__active {
    z-index: 3;
  }

  &__open {
    box-shadow: 0 0 0 1px rgb(185 244 249);
    background-color: rgb(242 254 255);
  }

  &__inprogress {
    box-shadow: 0 0 0 1px rgba(222, 224, 255, 1);
    background-color: rgba(237, 238, 255, 1);
  }

  &__completed {
    box-shadow: 0 0 0 1px rgba(209, 250, 179, 1);
    background-color: rgba(248, 255, 243, 1);
  }

  &__blocked {
    box-shadow: 0 0 0 1px rgba(255, 245, 207, 1);
    border-radius: 8px;
    background-color: rgba(255, 252, 241, 1);
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
    white-space: nowrap;

    &-name {
      color: rgba(3, 9, 41, 1);
      font-size: 0.875rem;
      font-weight: 400;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-status {
      color: rgba(8, 162, 104, 1);
      padding: 0.125rem 0.5rem;
      border-radius: 5px;

      font-size: 0.875rem;
      font-weight: 400;

      &__open {
        color: rgba(0, 176, 191, 1);
        background-color: rgba(228, 253, 255, 1);
      }

      &__inprogress {
        background-color: rgba(214, 216, 255, 1);
        color: rgba(62, 64, 219, 1);
      }

      &__completed {
        background-color: rgba(225, 255, 204, 1);
        color: rgba(8, 162, 104, 1);
      }

      &__blocked {
        background-color: rgba(252, 238, 181, 1);
        color: rgba(177, 54, 0, 1);
      }
    }
  }

  &__actions {
    position: relative;

    &-button {
      visibility: hidden;
      align-items: center;
      justify-content: center;

      width: 24px;
      height: 22px;
      border: none;
      border-radius: 5px;
      background-color: rgba(241, 243, 248, 1);

      cursor: pointer;
    }

    &-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 3;

      display: flex;
      flex-direction: column;

      width: 200px;
      padding: 0.75rem 0;
      box-shadow: 0 0 0 1px rgba(104, 113, 150, 0.1) , 0 2.5px 3px -1.5px rgba(200, 207, 233, 1) , 0 4.5px 5px -1px rgba(216, 220, 235, 1);
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 1);

      &__item {
        display: flex;
        align-items: flex-start;

        border: none;
        background-color: transparent;
        padding: 0.25rem 0.75rem;
        color: rgba(47, 48, 89, 1);

        font-size: 0.875rem;
        font-weight: 400;
        cursor: pointer;

        &-delete {
          color: rgba(62, 64, 219, 1);
        }
      }
    }
  }

  &:hover {
    .work-order__actions-button {
      visibility: visible;
    }
  }
}
