.work-order {
  position: absolute;
  top: 5px;
  bottom: 5px;
  z-index: 2;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.25rem;

  padding: 0.625rem 0.5rem;
  border-radius: 8px;

  &__active {
    z-index: 3;
  }

  &__open {
    box-shadow: 0 0 0 1px rgb(185 244 249);
    background-color: rgb(242 254 255);
  }

  &__inprogress {
    box-shadow: 0 0 0 1px rgba(222, 224, 255, 1);
    background-color: rgba(237, 238, 255, 1);
  }

  &__completed {
    box-shadow: 0 0 0 1px rgba(209, 250, 179, 1);
    background-color: rgba(248, 255, 243, 1);
  }

  &__blocked {
    box-shadow: 0 0 0 1px rgba(255, 245, 207, 1);
    border-radius: 8px;
    background-color: rgba(255, 252, 241, 1);
  }

  &__tooltip {
    display: none;
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-between;

    overflow: hidden;
    white-space: nowrap;

    &-name {
      color: var(--base-text-dark-color);
      font-size: 0.875rem;
      font-weight: 400;

      text-transform: capitalize;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-status {
      padding: 0.125rem 0.5rem;
      border-radius: 5px;

      font-size: 0.875rem;
      font-weight: 400;

      &__open {
        background-color: var(--base-open-status-background-color);
        color: var(--base-open-status-color);
      }

      &__inprogress {
        background-color: var(--base-in-progress-status-background-color);
        color: var(--base-primary-shade-color);
      }

      &__completed {
        background-color: var(--base-completed-status-background-color);
        color: var(--base-completed-status-color);
      }

      &__blocked {
        background-color: var(--base-blocked-status-background-color);
        color: var(--base-blocked-status-color);
      }
    }
  }

  &__actions {
    position: relative;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;

      visibility: hidden;
      width: 24px;
      height: 22px;
      border: none;
      border-radius: 5px;
      background-color: rgba(241, 243, 248, 1);

      cursor: pointer;

      &:hover {
        background-color: rgba(216, 220, 235, 1);
      }
    }

    &-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      z-index: 3;

      display: flex;
      flex-direction: column;

      width: 200px;
      padding: 0.75rem 0;
      box-shadow: 0 0 0 1px rgba(104, 113, 150, 0.1) , 0 2.5px 3px -1.5px rgba(200, 207, 233, 1) , 0 4.5px 5px -1px rgba(216, 220, 235, 1);
      border-radius: 5px;
      background-color: var(--base-white-color);

      &__item {
        display: flex;
        align-items: flex-start;

        border: none;
        background-color: transparent;
        padding: 0.25rem 0.75rem;
        color: var(--base-text-color);

        font-size: 0.875rem;
        font-weight: 400;
        cursor: pointer;

        &-delete {
          color: var(--base-primary-shade-color);
        }
      }
    }
  }

  &:hover {
    .work-order__actions-button {
      visibility: visible;
    }

    .work-order__tooltip {
      position: absolute;
      bottom: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;

      display: flex;

      width: max-content;
      box-shadow: 0 2px 4px -2px rgba(200, 207, 233, 1) , 0 0 16px -8px var(--base-border-color);
      border-radius: 8px;
      background-color: var(--base-text-gray-color);
      color: var(--base-white-color);
      padding: 0.25rem 0.5rem;

      text-transform: capitalize;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }
}
