<div class="timeline-grid">
  <div class="timeline-grid__sidebar">
    <div class="timeline-grid__sidebar-header">Work Center</div>
    @for (workCenter of workCenters; track workCenter.id)  {
      <div class="timeline-grid__sidebar-row" [title]="workCenter.name">
        {{ workCenter.name }}
      </div>
    }
  </div>

  <div class="timeline-grid__main-container" #scrollContainer>
    <div
      class="timeline-grid__main-container__canvas"
      [style.width.px]="columns.length * columnPixelWidth"
    >
      <div class="timeline-grid__main-container__canvas-header">
        @for (column of columns; track column.label) {
          <div
            class="timeline-grid__main-container__canvas-header__column"
            [style.width.px]="columnPixelWidth"
          >
            @if (column.isCurrentPeriod) {
                <span class="timeline-grid__main-container__canvas-header__column-current-badge">
                  Current {{ zoom === ZoomLevelEnum.DAY ? 'day' : zoom === ZoomLevelEnum.WEEK ? 'week' : 'month' }}
                </span>
            }
            {{ column.label }}
          </div>
        }
      </div>

      @for (workCenter of workCenters; track workCenter.id) {
        <div
          class="timeline-grid__main-container__canvas-row"
        >
          @for (column of columns; track column.label; let i = $index) {
            <div
              class="timeline-grid__main-container__canvas-row__column"
              [style.left.px]="i * columnPixelWidth"
              [style.width.px]="columnPixelWidth"
              (click)="onColumnClick(workCenter, column, $event)"
            >
              <div class="timeline-grid__main-container__canvas-row__column-tooltip">
                Click to add dates
              </div>
            </div>
          }
          @for (workOrder of getOrdersForWorkCenter(workCenter.id); track workOrder.id) {
            <app-work-order-bar
              [order]="workOrder"
              [left]="getWorkOrderBarPosition(workOrder).left"
              [width]="getWorkOrderBarPosition(workOrder).width"
              (edit)="editOrder.emit($event)"
              (delete)="deleteOrder.emit($event)"
            />
          }
        </div>
      }
    </div>
  </div>
</div>
