.app {
  display: flex;
  flex-direction: column;
  row-gap: 45px;

  padding-left: 100px;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 1);

  &-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }

  &-main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    row-gap: 1.5rem;

    &__title {
      color: rgba(3, 9, 41, 1);
      font-size: 24px;
      line-height: 34px;
      font-weight: 600;
    }
  }
}

