.app {
  display: flex;
  flex-direction: column;
  row-gap: 45px;

  padding-left: 1rem;
  height: 100dvh;
  background-color: var(--base-white-color);

  &-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
  }

  &-main {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    row-gap: 1.5rem;

    &__title {
      color: var(--base-text-dark-color);
      font-size: 24px;
      line-height: 34px;
      font-weight: 600;
    }
  }
}

@media (min-width: 600px) {
  .app {
    padding-left: 50px;
  }
}

@media (min-width: 992px) {
  .app {
    padding-left: 100px;
  }
}

