.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);

  &__content {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
  }
}
