.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: rgba(247, 249, 252, 0.5);

  &__content {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: center;
  }
}
