.panel-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 40;
}

.panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;

  width: 590px;
  max-width: 100vw;

  background: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(216, 220, 235, 1), 0 2.5px 3px -1.5px rgba(200, 207, 233, 1), 0 4.5px 5px -1px rgba(216, 220, 235, 1);
  border-radius: 12px 0 0 12px;

  &-slide-in {
    animation: slide-in 0.3s ease-out;
  }

  &-closing {
    animation: slide-out 0.25s ease-in forwards;
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    border-bottom: 1px solid rgba(230, 235, 240, 1);

    &__content {
      display: flex;
      flex-direction: column;
      row-gap: 0.25rem;

      &-title {
        color: rgba(47, 48, 89, 1);
        margin: 0;
        font-size: 1.25rem;
        font-weight: 500;
      }

      &-subtitle {
        font-size: 1rem;
        margin: 0;
        color: rgba(104, 113, 150, 1);
      }
    }

    &__actions {
      display: flex;
      column-gap: 0.5rem;

      &-button {
        border: none;
        padding: 0.375rem 0.5rem;
        border-radius: 7px;

        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;

        &__cancel {
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 1) , 0 1px 3px 0 rgba(200, 207, 233, 1);
          background-color: rgba(255, 255, 255, 1);
          color: rgba(47, 48, 89, 1);
        }

        &__submit {
          box-shadow: 0 0 0 1px rgba(86, 89, 255, 1) , 0 1px 3px 0 rgba(200, 207, 233, 1);
          background-color: rgba(86, 89, 255, 1);
          color: #ffffff;
        }
      }
    }
  }

  &-form {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    row-gap: 1.5rem;

    padding: 1.5rem;
    overflow-y: auto;

    &__field {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      &-label {
        color: rgba(104, 113, 150, 1);
        font-size: 0.875rem;
        font-weight: 500;
      }

      &-wrapper {
        position: relative;
      }

      &-input {
        width: 100%;
        padding: 0.625rem 0.5rem;
        box-shadow: 0 0 0 1px rgba(216, 220, 235, 1), 0 1.5px 3px -1.5px rgba(200, 207, 233, 1), 0 1px 0.5px -1px rgba(216, 220, 235, 1);
        border-radius: 5px;
        border: none;
        color: rgba(3, 9, 41, 1);

        font-size: 0.875rem;
        font-weight: 500;

        &__datepicker {
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }

        &__error {
          border-color: #ef4444;
        }
      }

      &-error {
        font-size: 0.875rem;
        color: #ef4444;
      }
    }

    &__error {
      font-size: 0.875rem;
      color: #ef4444;
    }
  }
}

@keyframes slide-in {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes slide-out {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}
