.panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 5;

  display: flex;
  flex-direction: column;

  width: 590px;
  max-width: 100vw;

  background: var(--base-white-color);
  box-shadow: 0 5px 15px 0 rgba(216, 220, 235, 1), 0 2.5px 3px -1.5px rgba(200, 207, 233, 1), 0 4.5px 5px -1px rgba(216, 220, 235, 1);
  border-radius: 12px 0 0 12px;

  &-slide-in {
    animation: slide-in 0.3s ease-out;
  }

  &-closing {
    animation: slide-out 0.25s ease-in forwards;
  }

  &-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--base-border-color);

    &__content {
      display: flex;
      flex-direction: column;
      row-gap: 0.25rem;

      &-title {
        color: var(--base-text-color);
        margin: 0;
        font-size: 1.25rem;
        font-weight: 500;
      }

      &-subtitle {
        font-size: 1rem;
        margin: 0;
        color: var(--base-text-gray-color);
      }
    }

    &__actions {
      display: flex;
      column-gap: 0.5rem;

      &-button {
        border: none;
        padding: 0.375rem 0.5rem;
        border-radius: 7px;

        font-size: 1rem;
        font-weight: 400;
        cursor: pointer;

        &__cancel {
          box-shadow: 0 0 0 1px var(--base-white-color), 0 1px 3px 0 rgba(200, 207, 233, 1);
          background-color: var(--base-white-color);
          color: var(--base-text-color);
        }

        &__submit {
          box-shadow: 0 0 0 1px var(--base-blue-color) , 0 1px 3px 0 rgba(200, 207, 233, 1);
          background-color: var(--base-blue-color);
          color: var(--base-white-color);
        }
      }
    }
  }

  &-form {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    row-gap: 1.5rem;

    padding: 1.5rem;
    overflow-y: auto;

    &__field {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      &-label {
        color: var(--base-text-gray-color);
        font-size: 0.875rem;
        font-weight: 500;
      }

      &-status {
        padding: 2px 12px;
        border-radius: 10px;
        font-size: 0.813rem;
        font-weight: 500;
        display: inline-flex;
        align-items: center;

        &__open {
          color: var(--base-open-status-color);
          background-color: var(--base-open-status-background-color);
        }

        &__inprogress {
          background-color: var(--base-in-progress-status-background-color);
          color: var(--base-primary-shade-color);
        }

        &__completed {
          background-color: var(--base-completed-status-background-color);
          color: var(--base-completed-status-color);
        }

        &__blocked {
          background-color: var(--base-blocked-status-background-color);
          color: var(--base-blocked-status-color);
        }
      }

      &-wrapper {
        position: relative;
      }

      &-input {
        width: 100%;
        padding: 0.625rem 0.5rem;
        box-shadow: 0 0 0 1px rgba(216, 220, 235, 1), 0 1.5px 3px -1.5px rgba(200, 207, 233, 1), 0 1px 0.5px -1px rgba(216, 220, 235, 1);
        border-radius: 5px;
        border: none;
        color: var(--base-text-dark-color);

        font-size: 0.875rem;
        font-weight: 500;

        &__datepicker {
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }

        &__error {
          border-color: var(--base-red-color);
        }
      }

      &-error {
        font-size: 0.875rem;
        color: var(--base-red-color);
      }
    }

    &__error {
      font-size: 0.875rem;
      color: var(--base-red-color);
    }
  }
}

:host ::ng-deep {
  .ng-select.ng-select-opened .ng-select-container,
  .ng-select.ng-select-focused .ng-select-container {
    border: none;
    box-shadow: 0 0 0 2px rgba(170, 175, 255, 1);
    background-color: var(--base-white-color);
    border-radius: 5px;
  }
}

@keyframes slide-in {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

@keyframes slide-out {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}
