<app-base-modal (onBackgroundClick)="closePanel()">
  <div class="panel " [class.panel-closing]="isClosing" animate.enter="panel-slide-in">
    <div class="panel-header">
      <div class="panel-header__content">
        <h2 class="panel-header__content-title">Work Order Details</h2>
        <p class="panel-header__content-subtitle">Specify the dates, name and status for this order</p>
      </div>

      <div class="panel-header__actions">
        <button class="panel-header__actions-button panel-header__actions-button__cancel" (click)="closePanel()">Cancel</button>
        <button
          class="panel-header__actions-button panel-header__actions-button__submit"
          (click)="onSubmit()"
        >
          {{ isEditMode ? 'Update' : 'Create' }}
        </button>
      </div>
    </div>

    <form class="panel-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="panel-form__field">
        <label class="panel-form__field-label" for="woName">Work Order Name</label>

        <input
          id="woName"
          class="panel-form__field-input"
          [class.panel-form__field-input__error]="form.get('name')?.invalid && form.get('name')?.touched"
          formControlName="name"
          placeholder="Enter work order name"
        />

        @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
          <span class="panel-form__field-error">
            Name is required.
          </span>
        }
      </div>

      <div class="panel-form__field">
        <label class="panel-form__field-label">Status</label>

        <ng-select
          formControlName="status"
          [items]="statusOptions"
          bindLabel="label"
          bindValue="value"
          placeholder="Select status"
          [clearable]="false"
          [searchable]="false"
        >
          <ng-template ng-label-tmp let-item="item">
            <div class="panel-form__field-status" [class]="'panel-form__field-status__' + item.label.toLowerCase().replace(' ', '')">
              {{ item.label }}
            </div>
          </ng-template>
        </ng-select>


        @if (form.get('status')?.hasError('required') && form.get('status')?.touched) {
          <span class="panel-form__field-error">
            Status is required.
          </span>
        }
      </div>

      <div class="panel-form__field">
        <label class="panel-form__field-label">Start Date</label>

        <div class="panel-form__field-wrapper">
          <input
            class="panel-form__field-input panel-form__field-input__datepicker"
            [class.panel-form__field-input__error]="form.get('startDate')?.invalid && form.get('startDate')?.touched"
            placeholder="Select start date"
            ngbDatepicker
            #dpStart="ngbDatepicker"
            formControlName="startDate"
            (click)="dpStart.toggle()"
            readonly
          />
        </div>

        @if (form.get('startDate')?.hasError('required') && form.get('startDate')?.touched) {
          <span class="panel-form__field-error">
            Start date is required.
          </span>
        }
      </div>

      <div class="panel-form__field">
        <label class="panel-form__field-label">End Date</label>

        <div class="panel__date-wrapper">
          <input
            class="panel-form__field-input panel-form__field-input__datepicker"
            [class.panel-form__field-input__error]="form.get('endDate')?.invalid && form.get('endDate')?.touched"
            placeholder="Select end date"
            ngbDatepicker
            #dpEnd="ngbDatepicker"
            formControlName="endDate"
            (click)="dpEnd.toggle()"
            readonly
          />
        </div>

        @if (form.get('endDate')?.hasError('required') && form.get('endDate')?.touched) {
          <span class="panel-form__field-error">
            End date is required.
          </span>
        }

        @if (form.hasError('dateOrder')) {
          <span class="panel-form__field-error">
            End date must be after start date.
          </span>
        }
      </div>
      @if (form.hasError('workCenterOverlap')) {
        <div class="panel-form__error panel-form__error-box">
          This work order overlaps with an existing order on the same work center.
        </div>
      }
    </form>
  </div>
</app-base-modal>
